/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
/* ------------------------------------------------------------ *\
    Global
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Header
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Logo
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Navegacion
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Botones
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
   -----  Abrir Menu
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
   -----  Cerrar Menu
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Secciones
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
   -----  Seccion 1  
\* ------------------------------------------------------------ */

/*
.p-center h2 {
    color: #FFFFFF !important;
}

.p-center h2 {
    margin-bottom: 30px;
    margin-top: 80px;
    font-size: 38px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
}
*/

/* ------------------------------------------------------------ *\
Artistas
\* ------------------------------------------------------------ */



.inicio-artistas {
    margin-bottom: 10px;
}

/*========================================
Footer
=============================================*/




/* Footer links */






/* If you don't want the footer to be responsive, remove these media queries */




/*    ANIMATIONS   */

/* Fade In Down */



/* Fade In Down */

/* Social Transition */




/* ------------------------------------------------------------ *\
    Medias
\* ------------------------------------------------------------ */



