/* ------------------------------------------------------------ *\
    Secciones
\* ------------------------------------------------------------ */

/* ------------------------------------------------------------ *\
    Seccion Banner Artista
\* ------------------------------------------------------------ */

h4 {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.1;
}

.banner-artista {
    background: url(imagenes/fondos/Img-Musica5.jpg) no-repeat center center;
    background-size: cover;
    min-height: 575px;
    z-index: 1;
    opacity: 1;
    text-align: center;
    padding-top: 260px;
    margin-bottom: 0;
}

.banner-artista .container {
    width: 85%;
}

.media {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 200px;
    background-color: transparent;
    z-index: 10;
}

.media-left {
    vertical-align: top;
    display: table-cell;
    padding-right: 10px;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 198px;
    height: 198px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    height: 198px;
    width: 198px;
}

.media-body {
    vertical-align: top;
    display: table-cell;
    text-align: left;
}

.media-body h1 {
    font-size: 42px;
    font-weight: bold;
    color: #FFF;
    letter-spacing: 0;
    margin-bottom: 10px;
    text-transform: none;
}

.media-body p {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    line-height: 30px;
}

.media-body p i {
    display: inline-block;
    width: 15px;
}

.media-body p:nth-child(3) {
    margin-bottom: 25px;
}

.btn {
    border: none;
    text-align: center;
}

.media-body .btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFF;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 0;
}

.media-body .btn i {
    margin-right: 10px;
    transition: .4s ease;
}

.media-body .btn:hover {
    background-color: rgb(0, 0, 0);
    transition: .4s ease;
}

/* ------------------------------------------------------------ *\
    Seccion Acerca Artista
\* ------------------------------------------------------------ */

.about-artista {
    background: url(imagenes/fondos/Img-Musica6.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px 0;
}

.about-artista .container {
    width: 85%;
}

.about-artista h4 {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.1;
}

.about-box {
    position: relative;
    width: 33.33%;
    float: left;
    margin-right: 15px;
}

.about-inn {
    background-color: #06162B;
    padding: 50px 40px;
}

.about-inn h4 {
    font-size: 24px;
    line-height: 1.1;
}

.about-inn p {
    color: #ABABAB;
    margin: 0;
    text-align: justify;
}

.video-box {
    width: 63%;
    float: left;
    position: relative;
    margin-left: 15px;
}

.video-box iframe {
    width: 100%;
    display: inline-block;
}

/* ------------------------------------------------------------ *\
    Seccion Videos Artista
\* ------------------------------------------------------------ */

.videos-artista {
    background-color: #282A41;
    padding: 80px 0 130px 0;
}

.videos-artista .container {
    width: 85%;
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    background-color: #1e1c2d;
    width: 33.33%;
    margin-right: 15px;
}

.tabs .tabs__item {
    display: block;
    background-color: inherit;
    color: #939393;
    border-left: 2px solid;
    border-color: transparent;
    padding: 22px;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.tabs .tabs__item:hover {
    background-color: #18141D;
    border-left-color: #33CC99;
    color: #FFF;
}

.tabs .tabs__item.active {
    background-color: #18141D;
    border-left-color: #33CC99;
    color: #FFF;
}

.panels {
    float: left;
    position: relative;
    padding: 0;
    width: 64%;
    margin-left: 15px;
    height: 264px;
}

.panels .panels__item {
    position: absolute;
    left: -5000px;
}

.panels .panels__item.active {
    position: relative;
    left: 0;
}

.panels__item iframe {
    width: 100%;
    height: 300px;
}